<div *ngIf="this.post | async as post; else loading">
  <div class="pt-5 container d-flex justify-content-center flex-column gap-3">
    <div class="card" >
      <div class="card-header d-flex w-100">
        <div class="col d-flex align-items-center">
          <h5 class="pt-2">Post {{ post.id }}</h5>
          <button [routerLink]="['/posts/'+post.id]" *ngIf="this.isSearch!=0" class="btn" ><i class="bi bi-box-arrow-up-right"></i></button>
        </div>
        <h6 class="col text-end pe-1" *ngIf="this.isSearch != 0">
          <i
            style="font-size: 1.5rem; color: cornflowerblue"
            class="bi bi-bezier2"
          ></i>
          ~ {{ this.isSearch | number : "1.2" }}
        </h6>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.rawDocument }}</p>
        <p></p>
      </div>

      <div
        class="card-footer text-muted container d-flex"
        style="max-width: inherit"
      >
        <div class="col align-self-center">
          <button
            type="button"
            (click)="upvote(post.extraFields[0], post.id)"
            class="btn btn-outline-primary me-2"
          >
            <i class="bi bi-arrow-up-circle"></i>{{ " " + post.extraFields[0] }}
          </button>
          <button
            type="button"
            (click)="downvote(post.extraFields[1], post.id)"
            class="btn btn-outline-secondary"
          >
            <i class="bi bi-arrow-down-circle"></i
            >{{ " " + post.extraFields[1] }}
          </button>
        </div>
        <div class="col align-self-center">
          Number of Words: {{ post.numberOfWords }}
        </div>

        <div class="col-auto align-self-end text-end">
          <button
            (click)="this.loadSimilarDocs()"
            class="btn btn-sm btn-secondary"
          >
            Similar Posts
          </button>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionExample">
        <div *ngIf="this.loadingSimilar">
          <div class="p-5 d-flex justify-content-center">
            <div
              style="width: 3rem; height: 3rem"
              class="spinner-border"
              role="status"
            >
              <span class="sr-only"></span>
            </div>
          </div>
        </div>
        <ng-container
          *ngFor="let post of this.similarPostList | async; index as i"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                attr.data-bs-target="#collapse{{ post.id }}-{{ i }}"
                aria-expanded="false"
                attr.aria-controls="collapse{{ post.id }}-{{ i }}"
              >
                <div class="w-100 d-flex pe-4">
                  <p class="text-muted col">#{{ post.id }} {{ post.title }}</p>
                  <p
                    class="col text-end text-muted"
                    *ngIf="post.similarity != 0"
                  >
                    Similarity: {{ post.similarity | number : "1.3" }}
                  </p>
                </div>
              </button>
            </h2>
            <div
              id="collapse{{ post.id }}-{{ i }}"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{ post.rawDocument }}
              </div>
              <div
                class="p-1 pe-3 accordion-body text-muted  border-1 border-top d-flex"
                style="background-color: #f7f7f7; border-color: #cbcbcb"
              >
                <button [routerLink]="['/posts/'+post.id]" class="btn">See Post <i class="bi bi-box-arrow-up-right"></i></button>
                <div class="flex-grow-1"></div>
                <span>Number of Words: {{ post.numberOfWords }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      


    </div>
    <div *ngIf="this.isSearch==0">

      <div *ngIf="this.commentList |async as comments;else loading">
        <div class="d-flex gap-3 mb-2">
          <h2>{{comments.length}} Comments</h2>
          <button (click)="this.isAddcomment=!isAddcomment" type="button" class="btn btn-outline-secondary"><i class="bi bi-plus"></i></button>
        </div>
  
        <div *ngIf="this.isAddcomment" class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input #commentTitle class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
              <textarea #commentContent class="form-control" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-end">
              <button (click)="this.postcomment(commentTitle.value,commentContent.value)" type="button" class="btn btn-secondary">Submit</button>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let item of comments">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p>{{item.rawDocument}}</p>
        
            </div>
            <div
          class="card-footer text-muted container d-flex"
          style="max-width: inherit"
        >
          <div class="col align-self-center">
            <button
              type="button"
              (click)="upvote(item.extraFields[0], item.id)"
              class="btn btn-outline-primary me-2"
            >
              <i class="bi bi-arrow-up-circle"></i>{{ " " + item.extraFields[0] }}
            </button>
            <button
              type="button"
              (click)="downvote(item.extraFields[1], item.id)"
              class="btn btn-outline-secondary"
            >
              <i class="bi bi-arrow-down-circle"></i
              >{{ " " + item.extraFields[1] }}
            </button>
          </div>
        </div>
          </div>
        </ng-container>
      </div>
    </div>
    
  </div>

</div>

<ng-template #loading>
  <div class="mt-5 d-flex justify-content-center">
    <div style="width: 3rem; height: 3rem" class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
