
<div style="height: 100vh;" class="row m-0">
  <div style="overflow:auto" class="col-auto border-2 border-end border-secondary h-100 ">
    <app-sidebar></app-sidebar>
  </div>
  <div style="overflow-y:scroll; overflow-x: hidden; height:100vh; " class="col p-0">
    <nav class="navbar " style="background-color: lightgrey;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="bi bi-binoculars-fill"></i>
          EasySearch Demo
        </a>
        <div class="me-auto d-flex">
          <!-- <a class="nav-link active ms-0 border-1 border-start border-secondary ps-2 pe-1" aria-current="page" href="#"> <i class="bi bi-house-fill"></i> Home</a> -->
          <a class="nav-link active ms-0 border-1 border-start border-secondary ps-2" aria-current="page" [routerLink]="['/newpost/']"><i class="bi bi-plus-square"></i> New Post</a>
        </div>
        
        <form class="d-flex" role="search">
          <input (keydown.enter)="$event.preventDefault();route()" [formControl]="search" class="form-control me-2"  style="width:40vw;" type="search" placeholder="Search" aria-label="Search">
          <button id="searchRouter" [routerLink]="['/search/',this.search.value]" class="btn btn-outline-success" type="button"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <div class="row" style="min-height: 50px;"></div>
  </div>
</div>

