.imgContainer {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 200px;
  }
  .imgContainer img {
    left:-25%;
    bottom: -50%;
    position: absolute;
    width: 400px;
    height: 400px;
  }
  .main-page{
    
  }

  @media (min-width: 62rem){
    .main-page{
      max-width: 50vw;
    }
  }