<div
  class="container pt-5 d-flex justify-content-center main-page"
  
>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h5 class="card-title">Easy Search</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Demo showcase of Easy Search API capabilities
      </h6>
      <p class="card-text">
        EasySearch is a complete document management solution aimed for both
        personal and commercial use. The solution as well as being a stand alone
        application, it can also be integrated into any tech stack that can
        reach internet.
      </p>

      <div class="row">
        <div class="imgContainer">
          <img
            class="col-auto"
            height="300"
            width="300"
            src="https://thumbs.dreamstime.com/b/paper-document-outline-icon-linear-style-sign-mobile-concept-web-design-big-document-roll-text-simple-line-vector-116231373.jpg"
            alt=""
          />
        </div>
        <p class="col card-text align-self-center p-5">
          EasySearch easily processes big documents, and becomes a powerful
          search engine that searches with whatever algorithm you prefer.
        </p>
      </div>

      <div class="row">
        <p class="col card-text align-self-center p-5">
          By creating clusters of document it also allows you to make automatic
          categorization of documents
        </p>
        <div class="imgContainer">
          <img
            class="col-auto"
            src="https://thumbs.dreamstime.com/b/classification-icon-trendy-modern-flat-linear-vector-classifica-white-background-thin-line-general-collection-editable-130949533.jpg"
            alt=""
          />
        </div>
      </div>

      <h6 class="text-center">EasySearch is</h6>
      <div class="d-flex justify-content-center">
        <ul class="list-group col-auto">
          <li class="list-group-item">🚀 Fast</li>
          <li class="list-group-item">💪 Efficient</li>
          <li class="list-group-item">😊 Easy</li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- <div class="mt-5 p-5 container d-flex justify-content-center">
    
    <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">What does it do exactly?</h5>
          <p class="card-text">
            
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div> -->